<a href="https://colab.research.google.com/github/AnukaMithara/Research-Machine-Learning/blob/main/EC9630_LAB04_2019E054.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## LAB 4
## EC9630: Machine Learning
### KARUNANAYAKA D.W.A.M.
### 2019/E/054

### 1. You are requested to use HCV dataset directly from UCI data repository. However, you can use any classification dataset for this purpose.

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.svm import SVC
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

df = pd.read_csv('hcv_dataset.csv')

df

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
610,611,3=Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,3=Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,3=Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0
613,614,3=Cirrhosis,46,f,33.0,NaN,39.0,62.0,20.0,3.56,4.20,52.0,50.0,71.0
614,615,3=Cirrhosis,59,f,36.0,NaN,100.0,80.0,12.0,9.07,5.30,67.0,34.0,68.0

### 2. Prepare your dataset for learning.

In [ ]:

# Drop any rows with missing values
df = df.dropna(axis=0)
df

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,609,3=Cirrhosis,58,f,34.0,46.4,15.0,150.0,8.0,6.26,3.98,56.0,49.7,80.6
609,610,3=Cirrhosis,59,f,39.0,51.3,19.6,285.8,40.0,5.77,4.51,136.1,101.1,70.5
610,611,3=Cirrhosis,62,f,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,3=Cirrhosis,64,f,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,3=Cirrhosis,64,f,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0

In [ ]:
# Convert all object columns to categorical data
for col in df.select_dtypes(include='object'):
    df.loc[:, col] = df[col].astype('category')
    df.loc[:, col] = df[col].cat.codes

df

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,609,4,58,0,34.0,46.4,15.0,150.0,8.0,6.26,3.98,56.0,49.7,80.6
609,610,4,59,0,39.0,51.3,19.6,285.8,40.0,5.77,4.51,136.1,101.1,70.5
610,611,4,62,0,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,4,64,0,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,4,64,0,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0

In [ ]:

# Separate the features and target variable

X = df.drop("Category", axis=1)
y = df["Category"]

df

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0,32,1,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0,32,1,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0,32,1,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0,32,1,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0,32,1,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,609,4,58,0,34.0,46.4,15.0,150.0,8.0,6.26,3.98,56.0,49.7,80.6
609,610,4,59,0,39.0,51.3,19.6,285.8,40.0,5.77,4.51,136.1,101.1,70.5
610,611,4,62,0,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5
611,612,4,64,0,24.0,102.8,2.9,44.4,20.0,1.54,3.02,63.0,35.9,71.3
612,613,4,64,0,29.0,87.3,3.5,99.0,48.0,1.66,3.63,66.7,64.2,82.0

### 3. First, Split your dataset into training set and test set. Build SVM using following kernels and measure the performance of your model.
#### (a) Linear Kernel
#### (b) Polynomial Kernel
#### (c) RBF kernel

In [ ]:
# Split the dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=54)

In [ ]:
# Initialize the SVM classifiers with different kernels
linear_svm = SVC(kernel='linear')
poly_svm = SVC(kernel='poly')
rbf_svm = SVC(kernel='rbf')

# Fit the models on the training data
linear_svm.fit(X_train, y_train)
poly_svm.fit(X_train, y_train)
rbf_svm.fit(X_train, y_train)

# Predict the classes for test set
linear_predictions = linear_svm.predict(X_test)
poly_predictions = poly_svm.predict(X_test)
rbf_predictions = rbf_svm.predict(X_test)

# Measure the performance of the models
linear_accuracy = accuracy_score(y_test, linear_predictions)
poly_accuracy = accuracy_score(y_test, poly_predictions)
rbf_accuracy = accuracy_score(y_test, rbf_predictions)

# Print the accuracies
print("Linear Kernel Accuracy\t\t:", linear_accuracy)
print("Polynomial Kernel Accuracy\t:", poly_accuracy)
print("RBF Kernel Accuracy\t\t:", rbf_accuracy)

Linear Kernel Accuracy		: 0.9661016949152542
Polynomial Kernel Accuracy	: 0.9745762711864406
RBF Kernel Accuracy		: 0.940677966101695

### 4. Now, do the same exercise using 10-fold and 5-fold cross validation and interpret your result in the proper way

In [ ]:
# Perform 10-fold cross-validation
linear_scores = cross_val_score(linear_svm, X_train, y_train, cv=10)
poly_scores = cross_val_score(poly_svm, X_train, y_train, cv=10)
rbf_scores = cross_val_score(rbf_svm, X_train, y_train, cv=10)

# Compute the mean accuracy and standard deviation
linear_mean_accuracy = linear_scores.mean()
poly_mean_accuracy = poly_scores.mean()
rbf_mean_accuracy = rbf_scores.mean()


# Print the mean accuracy and standard deviation for each kernel
print("------------------------------------------------------------------------")
print("10-fold cross validation")
print("Linear Kernel Mean Accuracy\t:", linear_mean_accuracy)
print("Polynomial Kernel Mean Accuracy\t:", poly_mean_accuracy)
print("RBF Kernel Mean Accuracy\t:", rbf_mean_accuracy)
print("------------------------------------------------------------------------")


# Perform 5-fold cross validation
linear_scores = cross_val_score(linear_svm, X_train, y_train, cv=5)
poly_scores = cross_val_score(poly_svm, X_train, y_train, cv=5)
rbf_scores = cross_val_score(rbf_svm, X_train, y_train, cv=5)

# Compute the mean accuracy and standard deviation
linear_mean_accuracy = linear_scores.mean()
poly_mean_accuracy = poly_scores.mean()
rbf_mean_accuracy = rbf_scores.mean()

# Print the mean accuracy and standard deviation for each kernel
print("------------------------------------------------------------------------")
print("5-fold cross validation")
print("Linear Kernel Mean Accuracy\t:", linear_mean_accuracy)
print("Polynomial Kernel Mean Accuracy\t:", poly_mean_accuracy)
print("RBF Kernel Mean Accuracy\t:", rbf_mean_accuracy)
print("------------------------------------------------------------------------")

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  warnings.warn(

------------------------------------------------------------------------
10-fold cross validation
Linear Kernel Mean Accuracy	: 0.9872340425531915
Polynomial Kernel Mean Accuracy	: 0.9809397163120567
RBF Kernel Mean Accuracy	: 0.944813829787234
------------------------------------------------------------------------
------------------------------------------------------------------------
5-fold cross validation
Linear Kernel Mean Accuracy	: 0.9809182530795073
Polynomial Kernel Mean Accuracy	: 0.9787905935050392
RBF Kernel Mean Accuracy	: 0.9384322508398656
------------------------------------------------------------------------

The warning is coming when performing 10-fold cross-validation because the category class has only 6 members. That is less than the dividing value of 10.